@model WereViewApp.Models.ViewModels.SearchViewModel
@{
    string currentUrl = Html.GetCurrentUrlWithHostName();
    ViewBag.Title = "Search app reviews";
    bool isEmptySearchString = string.IsNullOrEmpty(Model.SearchQuery);
}
<div class="row">
    <div class="app-detail app-title-wrapper col-md-12">
        <div class="app-title-row float-left">
            <a href="@currentUrl" class="app-title" title="Search app reviews">
                <h1 title="Search app reviews">
                    <strong title="Search app reviews">
                        <em title="Search app reviews">Search</em>
                        <em class="seo-hide">
                            <strong title="Search app reviews">
                                Search app reviews
                            </strong> or
                            <strong title="search reviews for apps">search reviews for apps</strong> or
                            <strong title="search reviews">search reviews</strong>
                        </em>
                    </strong>
                </h1>
            </a>
            @if (!isEmptySearchString) {
                <a class="app-category">
                    <h2 class="category">
                        <q class="search-quote">
                            @Model.SearchQuery
                        </q>
                    </h2>
                </a>
            }
        </div>

    </div>
</div>
<div>
    <div class="search-box-wrapper">
        <form role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for mobile apps" name="SearchQuery">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    @if (Model.IsAppExist) {
        <ul class="filter">
            <li>
                <a class="active" href="#" data-filter="*">All</a>
            </li>
            <li>
                <a href="#" data-filter="[data-app-type='fa-android']">
                    <i class="fa fa-android"></i>
                    <span class="hidden-sm hidden-xs">Android Apps</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter="[data-app-type='fa-apple']">
                    <i class="fa fa-apple"></i>
                    <span class="hidden-sm hidden-xs">Apple Apps</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter="[data-app-type='fa-windows']">
                    <i class="fa fa-windows"></i>
                    <span class="hidden-sm hidden-xs">Windows Apps</span>
                </a>
            </li>
        </ul>
    }
    <div class="app-date-seperation row seo-optimize">
        <div class="col-md-10"></div>
        <div class="col-md-2  text-right">
            <a href="#">
                <h1 class="bold-important month-seperation regular-color"></h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="archive-app-collection-wrapper">
            <ul class="archive-app-collection-list pagination-required regular-color search-page-apps-list seo-optimize">
                @if (isEmptySearchString || Model.IsAppExist) {
                    <li class="no-result slim-app-view"></li>
                } else {
                    <li class="slim-app-view" data-app-type="fa-android">
                        <a class="app-url" href="#">
                            <div class="app-icon">
                                <img src="images/games-image.jpg" alt="app" />
                            </div>
                            <div class="app-content">
                                <h1 class="app-title">
                                    <i class="fa fa-android"></i>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    <span class="paragraph-end"></span>
                                </h1>
                                <h3>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    <span class="paragraph-end"></span>
                                </h3>
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    3/5
                                </span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
            <div class="pagination-wrapper text-center">
                <ul class="pagination">
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

