USE [D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserPoint_UserPointSetting]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserPoint]'))
ALTER TABLE [dbo].[UserPoint] DROP CONSTRAINT [FK_UserPoint_UserPointSetting]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserPoint_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserPoint]'))
ALTER TABLE [dbo].[UserPoint] DROP CONSTRAINT [FK_UserPoint_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TagAppRelation_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[TagAppRelation]'))
ALTER TABLE [dbo].[TagAppRelation] DROP CONSTRAINT [FK_TagAppRelation_Tag]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TagAppRelation_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[TagAppRelation]'))
ALTER TABLE [dbo].[TagAppRelation] DROP CONSTRAINT [FK_TagAppRelation_App]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReviewLikeDislike_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReviewLikeDislike]'))
ALTER TABLE [dbo].[ReviewLikeDislike] DROP CONSTRAINT [FK_ReviewLikeDislike_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReviewLikeDislike_Review]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReviewLikeDislike]'))
ALTER TABLE [dbo].[ReviewLikeDislike] DROP CONSTRAINT [FK_ReviewLikeDislike_Review]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Review_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Review]'))
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [FK_Review_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Review_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[Review]'))
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [FK_Review_App]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Notification_NotificationType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Notification]'))
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [FK_Notification_NotificationType]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MessageSeen_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[MessageSeen]'))
ALTER TABLE [dbo].[MessageSeen] DROP CONSTRAINT [FK_MessageSeen_User1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MessageSeen_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[MessageSeen]'))
ALTER TABLE [dbo].[MessageSeen] DROP CONSTRAINT [FK_MessageSeen_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message] DROP CONSTRAINT [FK_Message_User1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message] DROP CONSTRAINT [FK_Message_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LatestSeenNotification_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[LatestSeenNotification]'))
ALTER TABLE [dbo].[LatestSeenNotification] DROP CONSTRAINT [FK_LatestSeenNotification_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gallery_GalleryCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gallery]'))
ALTER TABLE [dbo].[Gallery] DROP CONSTRAINT [FK_Gallery_GalleryCategory]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FeaturedImage_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeaturedImage]'))
ALTER TABLE [dbo].[FeaturedImage] DROP CONSTRAINT [FK_FeaturedImage_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FeaturedImage_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeaturedImage]'))
ALTER TABLE [dbo].[FeaturedImage] DROP CONSTRAINT [FK_FeaturedImage_App]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App] DROP CONSTRAINT [FK_App_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_Platform]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App] DROP CONSTRAINT [FK_App_Platform]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App] DROP CONSTRAINT [FK_App_Category]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_UserPoint_Point]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserPoint] DROP CONSTRAINT [DF_UserPoint_Point]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__Total__01BE3717]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[User] DROP CONSTRAINT [DF__tmp_ms_xx__Total__01BE3717]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Review__CreatedD__42CCE065]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [DF__Review__CreatedD__42CCE065]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__DisLi__75C27486]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [DF__tmp_ms_xx__DisLi__75C27486]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__Liked__74CE504D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [DF__tmp_ms_xx__Liked__74CE504D]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Notificat__IsGoo__2FBA0BF1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NotificationType] DROP CONSTRAINT [DF__Notificat__IsGoo__2FBA0BF1]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_MessageSeen_SentDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MessageSeen] DROP CONSTRAINT [DF_MessageSeen_SentDate]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_MessageSeen_LastModified]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MessageSeen] DROP CONSTRAINT [DF_MessageSeen_LastModified]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Message_SentDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Message] DROP CONSTRAINT [DF_Message_SentDate]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Message_LastModified]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Message] DROP CONSTRAINT [DF_Message_LastModified]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__IsAdv__269AB60B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GalleryCategory] DROP CONSTRAINT [DF__tmp_ms_xx__IsAdv__269AB60B]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Category__Slug__222B06A9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF__Category__Slug__222B06A9]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__IsPub__7EE1CA6C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AppDraft] DROP CONSTRAINT [DF__tmp_ms_xx__IsPub__7EE1CA6C]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__IsBlo__7DEDA633]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AppDraft] DROP CONSTRAINT [DF__tmp_ms_xx__IsBlo__7DEDA633]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__AvgRa__43F60EC8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] DROP CONSTRAINT [DF__tmp_ms_xx__AvgRa__43F60EC8]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__Store__4301EA8F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] DROP CONSTRAINT [DF__tmp_ms_xx__Store__4301EA8F]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__Websi__420DC656]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] DROP CONSTRAINT [DF__tmp_ms_xx__Websi__420DC656]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_App_IsPublished]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] DROP CONSTRAINT [DF_App_IsPublished]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_App_IsBlocked]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] DROP CONSTRAINT [DF_App_IsBlocked]
END

GO
/****** Object:  Index [IX_GalleryCategory]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GalleryCategory]') AND name = N'IX_GalleryCategory')
DROP INDEX [IX_GalleryCategory] ON [dbo].[GalleryCategory]
GO
/****** Object:  Index [IX_Gallery]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gallery]') AND name = N'IX_Gallery')
DROP INDEX [IX_Gallery] ON [dbo].[Gallery]
GO
/****** Object:  Index [IX_App_TotalViewCount]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[App]') AND name = N'IX_App_TotalViewCount')
DROP INDEX [IX_App_TotalViewCount] ON [dbo].[App]
GO
/****** Object:  Index [IX_App_1]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[App]') AND name = N'IX_App_1')
DROP INDEX [IX_App_1] ON [dbo].[App]
GO
/****** Object:  Index [URLUnique]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[App]') AND name = N'URLUnique')
ALTER TABLE [dbo].[App] DROP CONSTRAINT [URLUnique]
GO
/****** Object:  Table [dbo].[UserPointSetting]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserPointSetting]') AND type in (N'U'))
DROP TABLE [dbo].[UserPointSetting]
GO
/****** Object:  Table [dbo].[UserPoint]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserPoint]') AND type in (N'U'))
DROP TABLE [dbo].[UserPoint]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[TempUpload]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempUpload]') AND type in (N'U'))
DROP TABLE [dbo].[TempUpload]
GO
/****** Object:  Table [dbo].[TagAppRelation]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TagAppRelation]') AND type in (N'U'))
DROP TABLE [dbo].[TagAppRelation]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tag]') AND type in (N'U'))
DROP TABLE [dbo].[Tag]
GO
/****** Object:  Table [dbo].[ReviewLikeDislike]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReviewLikeDislike]') AND type in (N'U'))
DROP TABLE [dbo].[ReviewLikeDislike]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Review]') AND type in (N'U'))
DROP TABLE [dbo].[Review]
GO
/****** Object:  Table [dbo].[Platform]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Platform]') AND type in (N'U'))
DROP TABLE [dbo].[Platform]
GO
/****** Object:  Table [dbo].[NotificationType]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NotificationType]') AND type in (N'U'))
DROP TABLE [dbo].[NotificationType]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notification]') AND type in (N'U'))
DROP TABLE [dbo].[Notification]
GO
/****** Object:  Table [dbo].[MessageSeen]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MessageSeen]') AND type in (N'U'))
DROP TABLE [dbo].[MessageSeen]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Message]') AND type in (N'U'))
DROP TABLE [dbo].[Message]
GO
/****** Object:  Table [dbo].[LatestSeenNotification]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LatestSeenNotification]') AND type in (N'U'))
DROP TABLE [dbo].[LatestSeenNotification]
GO
/****** Object:  Table [dbo].[GalleryCategory]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GalleryCategory]') AND type in (N'U'))
DROP TABLE [dbo].[GalleryCategory]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gallery]') AND type in (N'U'))
DROP TABLE [dbo].[Gallery]
GO
/****** Object:  Table [dbo].[FeaturedImage]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeaturedImage]') AND type in (N'U'))
DROP TABLE [dbo].[FeaturedImage]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[AppDraft]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppDraft]') AND type in (N'U'))
DROP TABLE [dbo].[AppDraft]
GO
/****** Object:  Table [dbo].[App]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[App]') AND type in (N'U'))
DROP TABLE [dbo].[App]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SplitString]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[SplitString]
GO
/****** Object:  StoredProcedure [dbo].[ResetWholeSystem]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetWholeSystem]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ResetWholeSystem]
GO
/****** Object:  StoredProcedure [dbo].[ResetReviews]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetReviews]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ResetReviews]
GO
/****** Object:  StoredProcedure [dbo].[ResetAppsAndUsers]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetAppsAndUsers]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ResetAppsAndUsers]
GO
/****** Object:  StoredProcedure [dbo].[ResetApps]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetApps]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ResetApps]
GO
/****** Object:  StoredProcedure [dbo].[ResetAppDrafts]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetAppDrafts]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ResetAppDrafts]
GO
/****** Object:  StoredProcedure [dbo].[AppsSearch]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppsSearch]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AppsSearch]
GO
USE [master]
GO
/****** Object:  Database [D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF')
DROP DATABASE [D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF]
GO
/****** Object:  Database [D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF')
BEGIN
CREATE DATABASE [D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF] ON  PRIMARY 
( NAME = N'WereViewApp', FILENAME = N'D:\Working\GitHub\WereViewProject\WereViewApp\App_Data\WereViewApp.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WereViewApp_log', FILENAME = N'D:\Working\GitHub\WereViewProject\WereViewApp\App_Data\WereViewApp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\WORKING\GITHUB\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP.MDF]
GO
/****** Object:  StoredProcedure [dbo].[AppsSearch]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppsSearch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		Alim Ul Karim
-- Create date: 
-- Description:	Search for apps
-- =============================================
CREATE PROCEDURE [dbo].[AppsSearch] 
	-- Add the parameters for the stored procedure here
	@SearchText VARCHAR(200) = 0
AS
BEGIN
	
	SET NOCOUNT ON;
	select *from SplitString(''Querying SQL Server'','' '') ;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ResetAppDrafts]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetAppDrafts]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ResetAppDrafts]

AS
	Delete from AppDraft;
	DBCC checkident (''AppDraft'', reseed, 0);
RETURN 0' 
END
GO
/****** Object:  StoredProcedure [dbo].[ResetApps]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetApps]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ResetApps]

AS
	Delete from ReviewLikeDislike;
	Delete from Review;

	DBCC checkident (''Review'', reseed, 0);
	DBCC checkident (''ReviewLikeDislike'', reseed, 0);

	Delete from TagAppRelation;
	Delete from FeaturedImage;
	Delete from Tag;
	Delete from TempUpload;
	Delete from Review;
	Delete from Gallery;
	Delete from AppDraft;
	Delete from App;
	Delete from [User];
	DBCC checkident (''App'', reseed, 0);
	DBCC checkident (''AppDraft'', reseed, 0);
	DBCC checkident (''Tag'', reseed, 0);
	DBCC checkident (''TagAppRelation'', reseed, 0);
	DBCC checkident (''TempUpload'', reseed, 0);
	DBCC checkident (''Review'', reseed, 0);
	DBCC checkident (''Gallery'', reseed, 0);
	DBCC checkident (''[User]'', reseed, 0);
	DBCC checkident (''FeaturedImage'', reseed, 0);

	
RETURN 0' 
END
GO
/****** Object:  StoredProcedure [dbo].[ResetAppsAndUsers]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetAppsAndUsers]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ResetAppsAndUsers]

AS
	Delete from App;	
	Delete from [User];	
		
	DBCC checkident(''App'', reseed, 0);
	DBCC checkident(''[User]'', reseed, 0);
RETURN 0' 
END
GO
/****** Object:  StoredProcedure [dbo].[ResetReviews]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetReviews]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ResetReviews]

AS
	Delete from ReviewLikeDislike;
	Delete from Review;

	DBCC checkident (''Review'', reseed, 0);
	DBCC checkident (''ReviewLikeDislike'', reseed, 0);
RETURN 0' 
END
GO
/****** Object:  StoredProcedure [dbo].[ResetWholeSystem]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResetWholeSystem]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ResetWholeSystem]
AS begin

	truncate table dbo.MessageSeen;
    truncate table LatestSeenNotification;
	truncate table dbo.[Message];
	truncate table dbo.UserPoint;

	DBCC checkident (''[MessageSeen]'', reseed, 0);
	DBCC checkident (''[LatestSeenNotification]'', reseed, 0);
	DBCC checkident (''[Message]'', reseed, 0);
	DBCC checkident (''[UserPoint]'', reseed, 0);

	Exec dbo.ResetApps; -- removes reviews, apps, Tag,TagAppRelation,TempUpload,Gallery,User,FeaturedImage

End' 
END
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SplitString]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'-- =============================================
-- Author:		Alim Ul Karim
-- Create date: 20 Sep 2014
-- Description:	
-- =============================================
CREATE FUNCTION [dbo].[SplitString]( @stringToSplit VARCHAR(200),@splitChar VARCHAR(1) )
RETURNS
 @returnList TABLE (ID int,[Name] [nvarchar] (500))
AS
BEGIN

 DECLARE @name NVARCHAR(255)
 DECLARE @pos INT
 DECLARE @i INT
 SELECT  @i = 0
 WHILE CHARINDEX(@splitChar, @stringToSplit) > 0
 BEGIN
 
  SELECT @pos  = CHARINDEX(@splitChar, @stringToSplit)  ;
  SELECT @name = SUBSTRING(@stringToSplit, 1, @pos-1);
  
  

  INSERT INTO @returnList 
  SELECT  @i,@name;
  
  SELECT @i =@i + 1;

  SELECT @stringToSplit = SUBSTRING(@stringToSplit, @pos+1, LEN(@stringToSplit)-@pos)
 END

 INSERT INTO @returnList
 SELECT @i,@stringToSplit

 RETURN
END
' 
END

GO
/****** Object:  Table [dbo].[App]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[App]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[App](
	[AppID] [bigint] IDENTITY(1,1) NOT NULL,
	[AppName] [varchar](60) NOT NULL,
	[PlatformID] [tinyint] NOT NULL,
	[PlatformVersion] [float] NOT NULL,
	[CategoryID] [smallint] NOT NULL,
	[Url] [varchar](70) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[PostedByUserID] [bigint] NOT NULL,
	[ReviewsCount] [smallint] NOT NULL,
	[IsVideoExist] [bit] NOT NULL,
	[YoutubeEmbedLink] [varchar](255) NULL,
	[WebsiteUrl] [nvarchar](255) NULL,
	[StoreUrl] [nvarchar](255) NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[UploadGuid] [uniqueidentifier] NOT NULL,
	[TotalViewed] [bigint] NOT NULL,
	[WebsiteClicked] [bigint] NOT NULL,
	[StoreClicked] [bigint] NOT NULL,
	[AvgRating] [float] NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[LastModifiedDate] [date] NULL,
	[UrlWithoutEscapseSequence] [varchar](70) NOT NULL,
 CONSTRAINT [PK_App] PRIMARY KEY CLUSTERED 
(
	[AppID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AppDraft]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppDraft]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AppDraft](
	[AppDraftID] [bigint] IDENTITY(1,1) NOT NULL,
	[AppName] [varchar](60) NULL,
	[PlatformID] [tinyint] NOT NULL,
	[CategoryID] [smallint] NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[PostedByUserID] [bigint] NOT NULL,
	[ReviewsCount] [smallint] NULL,
	[IsVideoExist] [bit] NULL,
	[YoutubeEmbedLink] [varchar](255) NULL,
	[WebsiteUrl] [nvarchar](255) NULL,
	[StoreUrl] [nvarchar](255) NULL,
	[IsBlocked] [bit] NULL,
	[IsPublished] [bit] NULL,
	[PlatformVersion] [float] NULL,
	[UploadGuid] [uniqueidentifier] NOT NULL,
	[TotalViewed] [bigint] NULL,
	[Url] [varchar](65) NULL,
	[ReleaseDate] [date] NULL,
 CONSTRAINT [PK_AppDraft] PRIMARY KEY CLUSTERED 
(
	[AppDraftID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Category](
	[CategoryID] [smallint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](40) NOT NULL,
	[Slug] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FeaturedImage]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeaturedImage]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FeaturedImage](
	[FeaturedImageID] [bigint] IDENTITY(1,1) NOT NULL,
	[AppID] [bigint] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[UserID] [bigint] NOT NULL,
 CONSTRAINT [PK_FeaturedImage] PRIMARY KEY CLUSTERED 
(
	[FeaturedImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gallery]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Gallery](
	[GalleryID] [uniqueidentifier] NOT NULL,
	[UploadGuid] [uniqueidentifier] NOT NULL,
	[GalleryCategoryID] [int] NOT NULL,
	[Sequence] [tinyint] NOT NULL,
	[Title] [varchar](50) NULL,
	[Subtitle] [varchar](150) NULL,
	[Extension] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Gallery] PRIMARY KEY CLUSTERED 
(
	[GalleryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GalleryCategory]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GalleryCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GalleryCategory](
	[GalleryCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[IsAdvertise] [bit] NOT NULL,
 CONSTRAINT [PK_GalleryCategory] PRIMARY KEY CLUSTERED 
(
	[GalleryCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LatestSeenNotification]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LatestSeenNotification]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LatestSeenNotification](
	[LatestSeenNotificationID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[NotificationTypeID] [tinyint] NOT NULL,
	[Message] [varchar](50) NULL,
	[Dated] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_LatestSeenNotification] PRIMARY KEY CLUSTERED 
(
	[LatestSeenNotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Message]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Message]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Message](
	[MessageID] [bigint] IDENTITY(1,1) NOT NULL,
	[Msg1] [varchar](300) NOT NULL,
	[Msg2] [varchar](300) NULL,
	[Msg3] [varchar](300) NULL,
	[Msg4] [varchar](300) NULL,
	[MessageDisplay]  AS (concat([Msg1],[Msg2],[Msg3],[Msg4])),
	[SenderUserID] [bigint] NOT NULL,
	[ReceiverUserID] [bigint] NOT NULL,
	[IsDraft] [bit] NOT NULL,
	[LastModified] [smalldatetime] NOT NULL,
	[SentDate] [smalldatetime] NOT NULL,
	[ReceivedDate] [smalldatetime] NULL,
	[IsReceived] [bit] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MessageSeen]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MessageSeen]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MessageSeen](
	[MessageSeenID] [bigint] IDENTITY(1,1) NOT NULL,
	[Msg1] [varchar](300) NOT NULL,
	[Msg2] [varchar](300) NULL,
	[Msg3] [varchar](300) NULL,
	[Msg4] [varchar](300) NULL,
	[MessageDisplay]  AS (concat([Msg1],[Msg2],[Msg3],[Msg4])),
	[SenderUserID] [bigint] NOT NULL,
	[ReceiverUserID] [bigint] NOT NULL,
	[IsDraft] [bit] NOT NULL,
	[LastModified] [smalldatetime] NOT NULL,
	[SentDate] [smalldatetime] NOT NULL,
	[ReceivedDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MessageSeen] PRIMARY KEY CLUSTERED 
(
	[MessageSeenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notification]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Notification](
	[NotificationID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[NotificationTypeID] [tinyint] NOT NULL,
	[Message] [varchar](50) NULL,
	[Dated] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NotificationType]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NotificationType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NotificationType](
	[NotificationTypeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NOT NULL,
	[IsGood] [bit] NOT NULL,
	[DefaultMessage] [varchar](30) NOT NULL,
 CONSTRAINT [PK_NotificationType] PRIMARY KEY CLUSTERED 
(
	[NotificationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Platform]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Platform]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Platform](
	[PlatformID] [tinyint] IDENTITY(1,1) NOT NULL,
	[PlatformName] [varchar](40) NOT NULL,
	[Icon] [varchar](50) NULL,
 CONSTRAINT [PK_Platform] PRIMARY KEY CLUSTERED 
(
	[PlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Review]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Review]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Review](
	[ReviewID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](30) NOT NULL,
	[Pros] [varchar](300) NULL,
	[Cons] [varchar](300) NULL,
	[IsSuggest] [bit] NOT NULL,
	[Comment1] [varchar](100) NOT NULL,
	[Comment2] [varchar](500) NULL,
	[AppID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Comments]  AS (concat([Comment1],[Comment2])),
	[LikedCount] [int] NOT NULL,
	[DisLikeCount] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[CreatedDate] [date] NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReviewLikeDislike]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReviewLikeDislike]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ReviewLikeDislike](
	[ReviewLikeDislikeID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReviewID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[IsLiked] [bit] NOT NULL,
	[IsDisliked] [bit] NOT NULL,
	[IsNone] [bit] NOT NULL,
 CONSTRAINT [PK_ReviewLikeDislike] PRIMARY KEY CLUSTERED 
(
	[ReviewLikeDislikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tag]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tag](
	[TagID] [bigint] IDENTITY(1,1) NOT NULL,
	[TagDisplay] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TagAppRelation]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TagAppRelation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TagAppRelation](
	[TagAppRelationID] [bigint] IDENTITY(1,1) NOT NULL,
	[TagID] [bigint] NOT NULL,
	[AppID] [bigint] NOT NULL,
 CONSTRAINT [PK_TagAppRelation] PRIMARY KEY CLUSTERED 
(
	[TagAppRelationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TempUpload]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempUpload]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TempUpload](
	[TempUploadID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[AppID] [bigint] NULL,
	[GalleryID] [uniqueidentifier] NOT NULL,
	[RelatingUploadGuidForDelete] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[TempUploadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[User]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User](
	[UserID] [bigint] NOT NULL,
	[FirstName] [varchar](30) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[Phone] [varchar](18) NULL,
	[UserName] [varchar](30) NOT NULL,
	[TotalEarnedPoints] [bigint] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserPoint]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserPoint]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserPoint](
	[UserPointID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Point] [int] NOT NULL,
	[UserPointSettingID] [tinyint] NOT NULL,
	[Dated] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_UserPoint] PRIMARY KEY CLUSTERED 
(
	[UserPointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserPointSetting]    Script Date: 23-Feb-16 2:25:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserPointSetting]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserPointSetting](
	[UserPointSettingID] [tinyint] IDENTITY(1,1) NOT NULL,
	[TaskName] [varchar](50) NOT NULL,
	[Point] [int] NOT NULL,
 CONSTRAINT [PK_UserPointSetting] PRIMARY KEY CLUSTERED 
(
	[UserPointSettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[App] ON 

SET IDENTITY_INSERT [dbo].[App] OFF
SET IDENTITY_INSERT [dbo].[AppDraft] ON 

INSERT [dbo].[AppDraft] ([AppDraftID], [AppName], [PlatformID], [CategoryID], [Description], [PostedByUserID], [ReviewsCount], [IsVideoExist], [YoutubeEmbedLink], [WebsiteUrl], [StoreUrl], [IsBlocked], [IsPublished], [PlatformVersion], [UploadGuid], [TotalViewed], [Url], [ReleaseDate]) VALUES (23, NULL, 1, 1, NULL, 7, NULL, 0, NULL, NULL, NULL, 0, 1, 0, N'01b72017-2869-47a8-9980-f04a5870fcff', NULL, NULL, CAST(0xAE3A0B00 AS Date))
INSERT [dbo].[AppDraft] ([AppDraftID], [AppName], [PlatformID], [CategoryID], [Description], [PostedByUserID], [ReviewsCount], [IsVideoExist], [YoutubeEmbedLink], [WebsiteUrl], [StoreUrl], [IsBlocked], [IsPublished], [PlatformVersion], [UploadGuid], [TotalViewed], [Url], [ReleaseDate]) VALUES (22, N'Hello World', 3, 1, N'Hello WorldHello WorldHello WorldHello WorldHello WorldHello World', 7, NULL, 0, NULL, NULL, NULL, 0, 0, 12, N'367dea9a-dd31-434a-8b13-506f0ba36b5f', NULL, N'hello-world-2', CAST(0xAE3A0B00 AS Date))
INSERT [dbo].[AppDraft] ([AppDraftID], [AppName], [PlatformID], [CategoryID], [Description], [PostedByUserID], [ReviewsCount], [IsVideoExist], [YoutubeEmbedLink], [WebsiteUrl], [StoreUrl], [IsBlocked], [IsPublished], [PlatformVersion], [UploadGuid], [TotalViewed], [Url], [ReleaseDate]) VALUES (21, N'dwqwdwqd', 1, 1, NULL, 1, NULL, 0, NULL, NULL, NULL, 0, 0, 23321123, N'35a56a05-1877-4ad2-a6d5-dcb948490911', NULL, N'dwqwdwqd', CAST(0x6D3A0B00 AS Date))
SET IDENTITY_INSERT [dbo].[AppDraft] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Slug]) VALUES (1, N'Games', N'Games')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Slug]) VALUES (2, N'Learning ', N'Learning')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Slug]) VALUES (3, N'System ', N'System')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[FeaturedImage] ON 

INSERT [dbo].[FeaturedImage] ([FeaturedImageID], [AppID], [IsFeatured], [UserID]) VALUES (1, 1, 0, 1)
INSERT [dbo].[FeaturedImage] ([FeaturedImageID], [AppID], [IsFeatured], [UserID]) VALUES (2, 3, 0, 1)
INSERT [dbo].[FeaturedImage] ([FeaturedImageID], [AppID], [IsFeatured], [UserID]) VALUES (3, 2, 0, 1)
SET IDENTITY_INSERT [dbo].[FeaturedImage] OFF
INSERT [dbo].[Gallery] ([GalleryID], [UploadGuid], [GalleryCategoryID], [Sequence], [Title], [Subtitle], [Extension]) VALUES (N'8828c1ba-cb5f-43d4-ad6b-00fe99263511', N'8435a280-7ead-418b-9b63-f29a0816ec7a', 3, 3, N'Plant VS Zombies-3', NULL, N'jpg')
INSERT [dbo].[Gallery] ([GalleryID], [UploadGuid], [GalleryCategoryID], [Sequence], [Title], [Subtitle], [Extension]) VALUES (N'cb349445-de9b-4355-bd37-048c2d8d5ac3', N'0598bc1d-9b8e-4634-8bb6-31942a7ad68a', 2, 0, N'Sample App', NULL, N'jpg')
INSERT [dbo].[Gallery] ([GalleryID], [UploadGuid], [GalleryCategoryID], [Sequence], [Title], [Subtitle], [Extension]) VALUES (N'9aca3b16-d367-439e-a118-058fed3b03b4', N'c69c1955-287a-44f9-8211-5d3e1d6a1c9c', 7, 0, NULL, NULL, N'jpg')
GO
SET IDENTITY_INSERT [dbo].[GalleryCategory] ON 

INSERT [dbo].[GalleryCategory] ([GalleryCategoryID], [CategoryName], [Width], [Height], [IsAdvertise]) VALUES (1, N'Home Page Gallery (featured)', 481, 440, 0)
INSERT [dbo].[GalleryCategory] ([GalleryCategoryID], [CategoryName], [Width], [Height], [IsAdvertise]) VALUES (2, N'Suggestion Icon', 192, 119, 0)
INSERT [dbo].[GalleryCategory] ([GalleryCategoryID], [CategoryName], [Width], [Height], [IsAdvertise]) VALUES (3, N'App Gallery Images', 1140, 400, 0)
SET IDENTITY_INSERT [dbo].[GalleryCategory] OFF
SET IDENTITY_INSERT [dbo].[NotificationType] ON 

INSERT [dbo].[NotificationType] ([NotificationTypeID], [TypeName], [IsGood], [DefaultMessage]) VALUES (1, N'Message Added', 1, N' ')
INSERT [dbo].[NotificationType] ([NotificationTypeID], [TypeName], [IsGood], [DefaultMessage]) VALUES (2, N'App Added', 1, N'{0} app is added to the store.')
INSERT [dbo].[NotificationType] ([NotificationTypeID], [TypeName], [IsGood], [DefaultMessage]) VALUES (3, N'App Reviewed', 1, N'{0} app has been reviewed.')
SET IDENTITY_INSERT [dbo].[NotificationType] OFF
SET IDENTITY_INSERT [dbo].[Platform] ON 

INSERT [dbo].[Platform] ([PlatformID], [PlatformName], [Icon]) VALUES (1, N'Apple', N'fa fa-apple')
INSERT [dbo].[Platform] ([PlatformID], [PlatformName], [Icon]) VALUES (2, N'Android', N'fa fa-android')
INSERT [dbo].[Platform] ([PlatformID], [PlatformName], [Icon]) VALUES (3, N'Windows', N'fa fa-windows')
SET IDENTITY_INSERT [dbo].[Platform] OFF
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [Title], [Pros], [Cons], [IsSuggest], [Comment1], [Comment2], [AppID], [UserID], [LikedCount], [DisLikeCount], [Rating], [CreatedDate]) VALUES (2, N'h', N'jgjkgklh jgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklh

', N'jgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklh', 0, N'jgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklhjgjkgklh', N'', 1, 1, 0, 0, 10, CAST(0x00000000 AS Date))
SET IDENTITY_INSERT [dbo].[Review] OFF
SET IDENTITY_INSERT [dbo].[ReviewLikeDislike] ON 

INSERT [dbo].[ReviewLikeDislike] ([ReviewLikeDislikeID], [ReviewID], [UserID], [IsLiked], [IsDisliked], [IsNone]) VALUES (1, 1, 1, 1, 0, 0)
INSERT [dbo].[ReviewLikeDislike] ([ReviewLikeDislikeID], [ReviewID], [UserID], [IsLiked], [IsDisliked], [IsNone]) VALUES (2, 3, 1, 1, 0, 0)
INSERT [dbo].[ReviewLikeDislike] ([ReviewLikeDislikeID], [ReviewID], [UserID], [IsLiked], [IsDisliked], [IsNone]) VALUES (4, 6, 7, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[ReviewLikeDislike] OFF
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([TagID], [TagDisplay]) VALUES (1, N'Plant')
INSERT [dbo].[Tag] ([TagID], [TagDisplay]) VALUES (2, N' Zombies')
INSERT [dbo].[Tag] ([TagID], [TagDisplay]) VALUES (3, N'Sample')
SET IDENTITY_INSERT [dbo].[Tag] OFF
SET IDENTITY_INSERT [dbo].[TagAppRelation] ON 

INSERT [dbo].[TagAppRelation] ([TagAppRelationID], [TagID], [AppID]) VALUES (4, 2, 2)
INSERT [dbo].[TagAppRelation] ([TagAppRelationID], [TagID], [AppID]) VALUES (8, 2, 3)
INSERT [dbo].[TagAppRelation] ([TagAppRelationID], [TagID], [AppID]) VALUES (14, 2, 1)
SET IDENTITY_INSERT [dbo].[TagAppRelation] OFF
INSERT [dbo].[TempUpload] ([TempUploadID], [UserID], [AppID], [GalleryID], [RelatingUploadGuidForDelete]) VALUES (N'f3df6115-5668-4774-82ed-0437e47bfb03', 1, NULL, N'442bc212-1609-48d5-b24f-4b54fe7f7e09', N'807eeca9-35fe-4899-89e0-079449e1b6db')
INSERT [dbo].[TempUpload] ([TempUploadID], [UserID], [AppID], [GalleryID], [RelatingUploadGuidForDelete]) VALUES (N'5b4e5c7e-caab-4c77-8ba6-04999c986236', 1, NULL, N'6f48b0f8-f3d8-464d-b3a4-a087a2cf30f1', N'61dd3da2-07e9-4863-ac61-50930156905e')
INSERT [dbo].[TempUpload] ([TempUploadID], [UserID], [AppID], [GalleryID], [RelatingUploadGuidForDelete]) VALUES (N'45ee63f7-50db-4cc5-963e-06b400fbac50', 11, NULL, N'46a17990-8d87-44a5-8db6-2083531876c4', N'f153d3bc-4a75-478e-97ca-2af446ae5828')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Phone], [UserName], [TotalEarnedPoints]) VALUES (11, N'Alim Ul', N'Karim', NULL, N'Alim.ul.karim', 0)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Phone], [UserName], [TotalEarnedPoints]) VALUES (8, N'Alim', N'Karim', N'0183300201', N'Alim4', 0)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Phone], [UserName], [TotalEarnedPoints]) VALUES (7, N'alim', N'karim', NULL, N'alim', 0)
SET IDENTITY_INSERT [dbo].[UserPointSetting] ON 

INSERT [dbo].[UserPointSetting] ([UserPointSettingID], [TaskName], [Point]) VALUES (1, N'Post App', 5)
INSERT [dbo].[UserPointSetting] ([UserPointSettingID], [TaskName], [Point]) VALUES (2, N'Review App', 6)
INSERT [dbo].[UserPointSetting] ([UserPointSettingID], [TaskName], [Point]) VALUES (3, N'Review Liked', 4)
SET IDENTITY_INSERT [dbo].[UserPointSetting] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [URLUnique]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[App]') AND name = N'URLUnique')
ALTER TABLE [dbo].[App] ADD  CONSTRAINT [URLUnique] UNIQUE NONCLUSTERED 
(
	[PlatformID] ASC,
	[PlatformVersion] ASC,
	[Url] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_App_1]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[App]') AND name = N'IX_App_1')
CREATE UNIQUE NONCLUSTERED INDEX [IX_App_1] ON [dbo].[App]
(
	[UploadGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_App_TotalViewCount]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[App]') AND name = N'IX_App_TotalViewCount')
CREATE NONCLUSTERED INDEX [IX_App_TotalViewCount] ON [dbo].[App]
(
	[TotalViewed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gallery]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gallery]') AND name = N'IX_Gallery')
CREATE NONCLUSTERED INDEX [IX_Gallery] ON [dbo].[Gallery]
(
	[UploadGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GalleryCategory]    Script Date: 23-Feb-16 2:25:39 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GalleryCategory]') AND name = N'IX_GalleryCategory')
CREATE NONCLUSTERED INDEX [IX_GalleryCategory] ON [dbo].[GalleryCategory]
(
	[GalleryCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_App_IsBlocked]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] ADD  CONSTRAINT [DF_App_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_App_IsPublished]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] ADD  CONSTRAINT [DF_App_IsPublished]  DEFAULT ((0)) FOR [IsPublished]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__Websi__420DC656]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] ADD  CONSTRAINT [DF__tmp_ms_xx__Websi__420DC656]  DEFAULT ((0)) FOR [WebsiteClicked]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__Store__4301EA8F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] ADD  CONSTRAINT [DF__tmp_ms_xx__Store__4301EA8F]  DEFAULT ((0)) FOR [StoreClicked]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__AvgRa__43F60EC8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[App] ADD  CONSTRAINT [DF__tmp_ms_xx__AvgRa__43F60EC8]  DEFAULT ((0)) FOR [AvgRating]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__IsBlo__7DEDA633]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AppDraft] ADD  DEFAULT ((0)) FOR [IsBlocked]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__IsPub__7EE1CA6C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AppDraft] ADD  DEFAULT ((0)) FOR [IsPublished]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Category__Slug__222B06A9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Category] ADD  DEFAULT ('None') FOR [Slug]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__IsAdv__269AB60B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GalleryCategory] ADD  DEFAULT ((0)) FOR [IsAdvertise]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Message_LastModified]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_LastModified]  DEFAULT (getdate()) FOR [LastModified]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Message_SentDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_SentDate]  DEFAULT (getdate()) FOR [SentDate]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_MessageSeen_LastModified]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MessageSeen] ADD  CONSTRAINT [DF_MessageSeen_LastModified]  DEFAULT (getdate()) FOR [LastModified]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_MessageSeen_SentDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MessageSeen] ADD  CONSTRAINT [DF_MessageSeen_SentDate]  DEFAULT (getdate()) FOR [SentDate]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Notificat__IsGoo__2FBA0BF1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NotificationType] ADD  DEFAULT ((0)) FOR [IsGood]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__Liked__74CE504D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0)) FOR [LikedCount]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__DisLi__75C27486]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0)) FOR [DisLikeCount]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Review__CreatedD__42CCE065]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreatedDate]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__Total__01BE3717]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [TotalEarnedPoints]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_UserPoint_Point]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserPoint] ADD  CONSTRAINT [DF_UserPoint_Point]  DEFAULT ((0)) FOR [Point]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App]  WITH CHECK ADD  CONSTRAINT [FK_App_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App] CHECK CONSTRAINT [FK_App_Category]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_Platform]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App]  WITH CHECK ADD  CONSTRAINT [FK_App_Platform] FOREIGN KEY([PlatformID])
REFERENCES [dbo].[Platform] ([PlatformID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_Platform]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App] CHECK CONSTRAINT [FK_App_Platform]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App]  WITH CHECK ADD  CONSTRAINT [FK_App_User] FOREIGN KEY([PostedByUserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_App_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[App]'))
ALTER TABLE [dbo].[App] CHECK CONSTRAINT [FK_App_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FeaturedImage_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeaturedImage]'))
ALTER TABLE [dbo].[FeaturedImage]  WITH CHECK ADD  CONSTRAINT [FK_FeaturedImage_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[App] ([AppID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FeaturedImage_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeaturedImage]'))
ALTER TABLE [dbo].[FeaturedImage] CHECK CONSTRAINT [FK_FeaturedImage_App]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FeaturedImage_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeaturedImage]'))
ALTER TABLE [dbo].[FeaturedImage]  WITH CHECK ADD  CONSTRAINT [FK_FeaturedImage_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FeaturedImage_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[FeaturedImage]'))
ALTER TABLE [dbo].[FeaturedImage] CHECK CONSTRAINT [FK_FeaturedImage_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gallery_GalleryCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gallery]'))
ALTER TABLE [dbo].[Gallery]  WITH CHECK ADD  CONSTRAINT [FK_Gallery_GalleryCategory] FOREIGN KEY([GalleryCategoryID])
REFERENCES [dbo].[GalleryCategory] ([GalleryCategoryID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gallery_GalleryCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gallery]'))
ALTER TABLE [dbo].[Gallery] CHECK CONSTRAINT [FK_Gallery_GalleryCategory]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LatestSeenNotification_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[LatestSeenNotification]'))
ALTER TABLE [dbo].[LatestSeenNotification]  WITH CHECK ADD  CONSTRAINT [FK_LatestSeenNotification_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LatestSeenNotification_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[LatestSeenNotification]'))
ALTER TABLE [dbo].[LatestSeenNotification] CHECK CONSTRAINT [FK_LatestSeenNotification_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User] FOREIGN KEY([SenderUserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User1] FOREIGN KEY([ReceiverUserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Message_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Message]'))
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MessageSeen_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[MessageSeen]'))
ALTER TABLE [dbo].[MessageSeen]  WITH CHECK ADD  CONSTRAINT [FK_MessageSeen_User] FOREIGN KEY([SenderUserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MessageSeen_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[MessageSeen]'))
ALTER TABLE [dbo].[MessageSeen] CHECK CONSTRAINT [FK_MessageSeen_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MessageSeen_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[MessageSeen]'))
ALTER TABLE [dbo].[MessageSeen]  WITH CHECK ADD  CONSTRAINT [FK_MessageSeen_User1] FOREIGN KEY([ReceiverUserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MessageSeen_User1]') AND parent_object_id = OBJECT_ID(N'[dbo].[MessageSeen]'))
ALTER TABLE [dbo].[MessageSeen] CHECK CONSTRAINT [FK_MessageSeen_User1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Notification_NotificationType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Notification]'))
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_NotificationType] FOREIGN KEY([NotificationTypeID])
REFERENCES [dbo].[NotificationType] ([NotificationTypeID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Notification_NotificationType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Notification]'))
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_NotificationType]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Review_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[Review]'))
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[App] ([AppID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Review_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[Review]'))
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_App]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Review_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Review]'))
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Review_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Review]'))
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReviewLikeDislike_Review]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReviewLikeDislike]'))
ALTER TABLE [dbo].[ReviewLikeDislike]  WITH CHECK ADD  CONSTRAINT [FK_ReviewLikeDislike_Review] FOREIGN KEY([ReviewID])
REFERENCES [dbo].[Review] ([ReviewID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReviewLikeDislike_Review]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReviewLikeDislike]'))
ALTER TABLE [dbo].[ReviewLikeDislike] CHECK CONSTRAINT [FK_ReviewLikeDislike_Review]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReviewLikeDislike_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReviewLikeDislike]'))
ALTER TABLE [dbo].[ReviewLikeDislike]  WITH CHECK ADD  CONSTRAINT [FK_ReviewLikeDislike_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReviewLikeDislike_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReviewLikeDislike]'))
ALTER TABLE [dbo].[ReviewLikeDislike] CHECK CONSTRAINT [FK_ReviewLikeDislike_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TagAppRelation_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[TagAppRelation]'))
ALTER TABLE [dbo].[TagAppRelation]  WITH CHECK ADD  CONSTRAINT [FK_TagAppRelation_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[App] ([AppID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TagAppRelation_App]') AND parent_object_id = OBJECT_ID(N'[dbo].[TagAppRelation]'))
ALTER TABLE [dbo].[TagAppRelation] CHECK CONSTRAINT [FK_TagAppRelation_App]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TagAppRelation_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[TagAppRelation]'))
ALTER TABLE [dbo].[TagAppRelation]  WITH CHECK ADD  CONSTRAINT [FK_TagAppRelation_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TagAppRelation_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[TagAppRelation]'))
ALTER TABLE [dbo].[TagAppRelation] CHECK CONSTRAINT [FK_TagAppRelation_Tag]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserPoint_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserPoint]'))
ALTER TABLE [dbo].[UserPoint]  WITH CHECK ADD  CONSTRAINT [FK_UserPoint_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserPoint_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserPoint]'))
ALTER TABLE [dbo].[UserPoint] CHECK CONSTRAINT [FK_UserPoint_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserPoint_UserPointSetting]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserPoint]'))
ALTER TABLE [dbo].[UserPoint]  WITH CHECK ADD  CONSTRAINT [FK_UserPoint_UserPointSetting] FOREIGN KEY([UserPointSettingID])
REFERENCES [dbo].[UserPointSetting] ([UserPointSettingID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserPoint_UserPointSetting]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserPoint]'))
ALTER TABLE [dbo].[UserPoint] CHECK CONSTRAINT [FK_UserPoint_UserPointSetting]
GO
USE [master]
GO
