<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <!--Please change or add connection strings to  AppConfig.cs-> AppVar class. -->
    <add name="DefaultConnection" connectionString="Data Source=SQL5006.Smarterasp.net;Initial Catalog=DB_9AE7E3_wereviewAccounts;User Id=DB_9AE7E3_wereviewAccounts_admin;Password=eviTY1aFb16;Connection Timeout=800;" providerName="System.Data.SqlClient" />
    <!--<add name="DevEntities" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\config-maganize.mdf;Initial Catalog=config-maganize;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="WereViewAppEntities" connectionString="metadata=res://*/Models.EntityModel.WereViewAppModel.csdl|res://*/Models.EntityModel.WereViewAppModel.ssdl|res://*/Models.EntityModel.WereViewAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5006.Smarterasp.net;Initial Catalog=DB_9AE7E3_wereviewDb;User Id=DB_9AE7E3_wereviewDb_admin;Password=eviTY1aFb16;multipleactiveresultsets=True;Connection Timeout=800;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/404.aspx"/>
      <error statusCode="500" redirect="~/500.aspx"/>
    </customErrors>
    <compilation debug="true"/>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <caching>
      <outputCache enableOutputCache="true" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="YearNoParam" duration="31104000" varyByParam="none" varyByCustom="none" location="Server" />
          <add name="Year" duration="31104000" varyByParam="none" varyByCustom="byuser" location="Server" />
          <add name="Month" duration="2592000" varyByParam="none" varyByCustom="byuser" location="Server" />
          <add name="Day" duration="86400" varyByParam="byuser" varyByCustom="byuser" location="Server" />
          <add name="Hour" duration="3600" varyByParam="byuser" varyByCustom="byuser" location="Server" />
          <add name="TenMins" duration="600" varyByParam="byuser" varyByCustom="byuser" location="Server" />
          <add name="Ten" duration="600" varyByParam="byuser" varyByCustom="byuser" location="Server" />
          <add name="Long" duration="300" varyByParam="byuser" varyByCustom="byuser" location="Server" />
          <add name="Five" duration="300" varyByParam="byuser" varyByCustom="byuser" location="Server" />
          <add name="FiveMins" duration="300" varyByParam="byuser" varyByCustom="byuser" location="Server" />
          <add name="Medium" duration="150" varyByCustom="byuser" location="Server" />
          <add name="TwoMins" duration="120" varyByCustom="byuser" location="Server" />
          <add name="OneMin" duration="60" varyByCustom="byuser" location="Server" />
          <add name="Short" duration="20" varyByCustom="byuser" location="Server" />
          <add name="VeryShort" duration="5" varyByCustom="byuser" location="Server" />
          <add name="ThreeSec" duration="3" varyByCustom="byuser" location="Server" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />-->
  </system.webServer>
</configuration>
