@import "editor-templates.variables.less";
/*
  Warning(.css file): Please don't modify styles from css file. Please modify the styles in the respective.less file in the less folder. CSS files will be replaced with new .less file styles.
  FYI: This file (.less file) contains styles for editor-templates.
*/
/*.controls {
    overflow: hidden;
}*/
a.tooltip-show {
    &:focus, &:hover {
        text-decoration: none;
    }
}

.form-group {
    &.boolean-type {
        margin-top: 0;
        padding-top: 0;
    }
}

.tag-input-container {
    display: block;

    &.form-control {
        .max-width(@inputs-max-width);
        height: auto !important;
    }

    .bootstrap-tagsinput {
        //display: table-row;
        display: block;
        padding: 0 0 5px 0;

        .label-info {
            display: inline-block;
            font-size: .85em;
            padding: 4px 6px;
            margin-bottom: 3px;

            [data-role="remove"] {
                color: #E43838;
                .fa();

                &:before {
                    content: "\f00d";
                }

                .font-size(1em);
                cursor: pointer;
                margin-left: 6px;
            }
        }

        input {
            width: auto !important;

            &, &:hover, &:focus {
                outline: none;
                outline: 0;
                border:none;
            }

            .width(150px);
            .max-width(@inputs-max-width);
        }
    }
}
