@import "lesshat.less";
@import "variables.less";

.bottom-gap {
    .margin-bottom(8px);
}

.bottom-gap-small {
    .margin-bottom(5px);
}

.top-gap {
    .margin-bottom(8px);
}

.top-gap-small {
    .margin-bottom(5px);
}

// margins
.margin-r-20 {
    margin-right: 20px;
}

.margin-l-20 {
    margin-left: 20px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-b-20 {
    margin-bottom: 20px;
}
//margin 40

.margin-r-40 {
    margin-right: 40px;
}

.margin-l-40 {
    margin-left: 40px;
}

.margin-t-40 {
    margin-top: 40px;
}

.margin-b-40 {
    margin-bottom: 40px;
}
// margin 80
.margin-r-80 {
    .margin-right(80px);
}

.margin-l-80 {
    margin-left: 80px;
}

.margin-t-80 {
    margin-top: 80px;
}

.margin-b-80 {
    margin-bottom: 80px;
}

.no-margin {
    margin: 0;
}

.no-margin-important {
    margin: 0 !important;
}

.no-margin-t {
    margin-top: 0;
}

.no-padding-t {
    padding-top: 0;
}

// margin end

//padding
.padding-r-20 {
    .padding-right(20px);
}

.padding-r-20-important {
    .padding-right(20px) !important;
}

.padding-l-20 {
    .padding-left(20px);
}

.padding-t-20 {
    .padding-top(20px);
}

.padding-b-20 {
    .padding-bottom(20px);
}

.no-padding {
    padding: 0;
}

// border
.no-border {
    border: 0;
}


//fonts
.f-em-d-1 {
    font-size: .3em;
}

.f-em-d-3 {
    font-size: .3em;
}

.f-em-d-4 {
    font-size: .4em;
}

.f-em-d-45 {
    font-size: .45em;
}

.f-em-d-5 {
    font-size: .5em;
}

.f-em-d-55 {
    font-size: .55em;
}

.f-em-d-6 {
    font-size: .6em;
}

.f-em-d-65 {
    font-size: .65em;
}

.f-em-d-7 {
    font-size: .7em;
}

.f-em-d-75 {
    font-size: .75em;
}

.f-em-d-8 {
    font-size: .8em;
}

.f-em-d-85 {
    font-size: .85em;
}

.f-em-d-9 {
    font-size: .9em;
}

.f-em-d-95 {
    font-size: .95em;
}

.f-em-1 {
    font-size: 1em;
}

.f-em-11 {
    font-size: 1.1em;
}

.f-em-12 {
    font-size: 1.2em;
}

.f-em-13 {
    font-size: 1.3em;
}

.f-em-14 {
    font-size: 1.4em;
}

.f-em-15 {
    font-size: 1.5em;
}

.f-em-16 {
    font-size: 1.6em;
}

.f-em-17 {
    font-size: 1.7em;
}

.f-em-18 {
    font-size: 1.8em;
}

.f-em-19 {
    font-size: 1.9em;
}

.f-em-2 {
    font-size: 2em;
}

.f-em-21 {
    font-size: 2.1em;
}

.f-em-22 {
    font-size: 2.2em;
}

.f-em-23 {
    font-size: 2.3em;
}

.f-em-24 {
    font-size: 2.4em;
}

.f-em-25 {
    font-size: 2.5em;
}

.f-em-26 {
    font-size: 2.6em;
}

.f-em-27 {
    font-size: 2.7em;
}

.f-em-28 {
    font-size: 2.8em;
}

.f-em-29 {
    font-size: 2.9em;
}

.f-em-3 {
    font-size: 3em;
}

.f-em-31 {
    font-size: 3.1em;
}

.f-em-32 {
    font-size: 3.3em;
}

.f-em-34 {
    font-size: 3.4em;
}

.f-em-35 {
    font-size: 3.6em;
}

.f-em-36 {
    font-size: 3.6em;
}

.f-em-37 {
    font-size: 3.7em;
}

.f-em-38 {
    font-size: 3.8em;
}

.f-em-39 {
    font-size: 3.9em;
}

.f-em-4 {
    font-size: 4em;
}

@import "see-more-btn.less";
