<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sastwr-001-site2.smarterasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://sastwr-001-site2.smarterasp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>sastwr-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\sastwr-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WereViewAppEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL5006.Smarterasp.net;Initial Catalog=DB_9AE7E3_wereviewDb;User ID=DB_9AE7E3_wereviewDb_admin;Password=eviTY1aFb16" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WereViewApp.Models.EntityModel.WereViewAppEntities, WereViewApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=SQL5006.Smarterasp.net;Initial Catalog=DB_9AE7E3_wereviewAccounts;User ID=DB_9AE7E3_wereviewAccounts_admin;Password=eviTY1aFb16;Connect Timeout=800" Name="Data Source=SQL5006.Smarterasp.net;Initial Catalog=DB_9AE7E3_wereviewAccounts;User Id=DB_9AE7E3_wereviewAccounts_admin;Password=eviTY1aFb16;multipleactiveresultsets=True;Connection Timeout=800" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WereViewApp.Models.Context.ApplicationDbContext, WereViewApp" MigrationConfiguration="WereViewApp.Models.Migrations.Indentity.Configuration, WereViewApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>True</DebugSymbols>
    <WDPMergeOption>CreateSeparateAssembly</WDPMergeOption>
    <UseFixedNames>True</UseFixedNames>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5006.Smarterasp.net;Initial Catalog=DB_9AE7E3_wereviewAccounts;User Id=DB_9AE7E3_wereviewAccounts_admin;Password=eviTY1aFb16;multipleactiveresultsets=True;Connection Timeout=800</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WereViewAppEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityModel.WereViewAppModel.csdl|res://*/Models.EntityModel.WereViewAppModel.ssdl|res://*/Models.EntityModel.WereViewAppModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5006.Smarterasp.net;Initial Catalog=DB_9AE7E3_wereviewDb;User ID=DB_9AE7E3_wereviewDb_admin;Password=eviTY1aFb16"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>