@using WereViewApp.Modules.DevUser
@model WereViewApp.Models.EntityModel.POCO.App
@{
    long currentUserId = -1;
    if (User.Identity.IsAuthenticated) {
        currentUserId = UserManager.GetLoggedUserId();
    }
    var postedUserId = Model.PostedByUserID;
    var isEditable = currentUserId == postedUserId;
    string appName = Model.AppName;
}
@if (isEditable) {
    <a href="@Url.Action("Edit", "App", new {id = Model.AppID})" title="Edit @appName" class="single-app-edit-btn">
        <span class="glyphicon glyphicon-pencil"></span> Edit
    </a>
}
