@model WereViewApp.Models.EntityModel.App

@{
    int length = 0;
    int i = 0;
    if (Model.GalleryGalleryImages != null) {
        length = Model.GalleryGalleryImages.Count;
    }
}
<div id="apps-preview" itemprop="itemListElement" itemscope itemtype="http://schema.org/Book">
    @if (Model.YoutubeEmbedLink != null) {
        <div class="youtube-video">
            <div class="embed-responsive embed-responsive-16by9">
                <a class="playable-btn" href="#playvideo">
                    <i class="fa fa-play-circle-o"></i>
                    <img class="img-responsive" src="/images/f-b-img-3.jpg" alt="">
                </a>
                @Html.Raw(Model.YoutubeEmbedLink)
                <!--<iframe src="https://www.youtube.com/embed/zyk4jAiffRk" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </div>
    }
    @for (i = 0; i < length; i++) {
        var imageDisplay = Model.GalleryGalleryImages[i];
        <div>
            <img itemprop="image" class="img-responsive" src="@imageDisplay.GalleryImageLocation" alt="@imageDisplay.Title">
        </div>
    }
</div>