USE [F:\WORK\GIT\WEREVIEWPROJECT\WEREVIEWAPP\APP_DATA\WEREVIEWAPP-ACCOUNTS.MDF]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14-Mar-16 3:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14-Mar-16 3:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[PriorityLevel] [tinyint] NOT NULL,
	[CanBeAcheivedByPoint] [bit] NOT NULL,
	[PointsRequired] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14-Mar-16 3:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](15) NOT NULL,
	[LastName] [varchar](15) NOT NULL,
	[UserTimeZoneID] [int] NULL,
	[Email] [varchar](256) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [varchar](70) NULL,
	[SecurityStamp] [varchar](38) NULL,
	[PhoneNumber] [varchar](30) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [date] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
	[IsRegistrationComplete] [bit] NOT NULL,
	[CountryID] [int] NULL,
	[CountryLanguageID] [int] NULL,
	[GeneratedGuid] [uniqueidentifier] NULL,
	[IsBlocked] [bit] NOT NULL,
	[BlockingReason] [varchar](20) NULL,
	[BlockedbyUserId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CoreSetting]    Script Date: 14-Mar-16 3:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CoreSetting](
	[CoreSettingID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ApplicationName] [nvarchar](100) NOT NULL,
	[ApplicationSubtitle] [nvarchar](200) NOT NULL,
	[ApplicationDescription] [nvarchar](300) NOT NULL,
	[CompanyName] [nvarchar](120) NOT NULL,
	[Language] [varchar](35) NOT NULL,
	[LiveUrl] [nvarchar](500) NOT NULL,
	[AdminLocation] [nvarchar](20) NOT NULL,
	[TestingUrl] [nvarchar](500) NOT NULL,
	[AdminEmail] [nvarchar](256) NOT NULL,
	[DeveloperEmail] [nvarchar](256) NOT NULL,
	[IsAuthenticationEnabled] [bit] NOT NULL,
	[IsInTestingEnvironment] [bit] NOT NULL,
	[DoesRegisterCodeNeverExpires] [bit] NOT NULL,
	[IsRegisterCodeRequiredToRegister] [bit] NOT NULL,
	[ShouldRegistrationCodeBeLinkedWithUser] [bit] NOT NULL,
	[Address] [nvarchar](400) NOT NULL,
	[OfficeEmail] [varchar](256) NOT NULL,
	[GoogleMetaTag] [varchar](45) NOT NULL,
	[SmtpHost] [varchar](25) NULL,
	[SmtpMailPort] [int] NOT NULL,
	[IsSMTPSSL] [bit] NOT NULL,
	[PageItems] [bigint] NOT NULL,
	[SenderEmail] [nvarchar](256) NOT NULL,
	[SenderEmailPassword] [varchar](50) NOT NULL,
	[SenderDisplay] [nvarchar](256) NOT NULL,
	[IsConfirmMailRequired] [bit] NOT NULL,
	[NotifyDeveloperOnError] [bit] NOT NULL,
	[FacebookClientID] [bigint] NOT NULL,
	[FacebookSecret] [varchar](40) NULL,
	[IsFacebookAuthentication] [bit] NOT NULL,
	[AdminName] [varchar](60) NULL,
	[OfficePhone] [bigint] NOT NULL,
	[Fax] [bigint] NOT NULL,
	[SupportEmail] [varchar](256) NOT NULL,
	[SupportPhone] [bigint] NOT NULL,
	[MarketingEmail] [varchar](256) NOT NULL,
	[MarketingPhone] [bigint] NOT NULL,
	[IsFirstUserFound] [bit] NOT NULL,
	[GalleryMaxPictures] [tinyint] NOT NULL,
	[MaxDraftPostByUsers] [tinyint] NOT NULL,
	[ServicesControllerUrl] [nvarchar](500) NOT NULL,
	[ApiControllerUrl] [nvarchar](500) NOT NULL,
	[DeveloperName] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_dbo.CoreSetting] PRIMARY KEY CLUSTERED 
(
	[CoreSettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FeedbackCategory]    Script Date: 14-Mar-16 3:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FeedbackCategory](
	[FeedbackCategoryID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.FeedbackCategory] PRIMARY KEY CLUSTERED 
(
	[FeedbackCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImageResizeSetting]    Script Date: 14-Mar-16 3:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImageResizeSetting](
	[ImageResizeSettingID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Height] [real] NOT NULL,
	[Width] [real] NOT NULL,
	[Extension] [varchar](5) NOT NULL,
 CONSTRAINT [PK_dbo.ImageResizeSetting] PRIMARY KEY CLUSTERED 
(
	[ImageResizeSettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Navigation]    Script Date: 14-Mar-16 3:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Navigation](
	[NavigationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[ElementClasses] [varchar](200) NULL,
	[ElementID] [varchar](200) NULL,
 CONSTRAINT [PK_dbo.Navigation] PRIMARY KEY CLUSTERED 
(
	[NavigationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NavigationItem]    Script Date: 14-Mar-16 3:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NavigationItem](
	[NavigationItemID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](250) NOT NULL,
	[RelativeURL] [nvarchar](600) NOT NULL,
	[NavigationID] [int] NOT NULL,
	[HasDropDown] [bit] NOT NULL,
	[ParentNavigationID] [int] NULL,
	[ElementClasses] [varchar](250) NULL,
	[ElementID] [varchar](200) NULL,
	[Ordering] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NavigationItem] PRIMARY KEY CLUSTERED 
(
	[NavigationItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [PriorityLevel], [CanBeAcheivedByPoint], [PointsRequired]) VALUES (1, N'Developer', 0, 0, 0)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [PriorityLevel], [CanBeAcheivedByPoint], [PointsRequired]) VALUES (2, N'Founder', 1, 0, 0)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [PriorityLevel], [CanBeAcheivedByPoint], [PointsRequired]) VALUES (3, N'Admin', 2, 0, 0)
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[CoreSetting] ON 

SET IDENTITY_INSERT [dbo].[CoreSetting] OFF
