<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div class="btn-group">
            <div class="inline">
                <button class="btn btn-success" title="Post new review."><i class="fa fa-pencil-square-o"></i> Save</button>
                <a id="submitting-review-spinner" data-toggle="tooltip" title="Requesting" data-original-title="Requesting" class="tooltip-show">
                    <span data-display="Requesting for review" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" title="Requesting"></span>
                </a>
                <a id="submitting-review-failed-icon" data-toggle="tooltip" data-failed-icon="true" data-original-title="failed." title="failed." class="tooltip-show">
                    <span class="glyphicon glyphicon-remove  red"></span>
                </a>
            </div>
        </div>
    </div>
</div>
