<div class="container">
    <div class="footer row">
        <div class="footerLeft col-md-6 col-sm-6">&copy; @DateTime.Now.Year Copyrights and Reserved by @Html.SamePageLink(@AppVar.Name,@AppVar.Name, true,"almost-white")</div>
        <div class="footerRight col-md-6 col-sm-6" id="developers-organism">Powered by <h1 class="developers-organism" title="Developers Organism"><a href="http://developers-organism.com" title="Developers Organism">Developers Organism</a></h1></div>
    </div>
</div>