<div class="hide">
    <div id="loading-bar">
        <div class="loader">Loading...</div>
        <h1 class="spinner-content">...Loading request...</h1>
    </div>
</div>
<div id="loading-bar-full-screen" class="loading-bar-full-screen fixed">
    <div class="signal-display-container">
        <div class="signal">
            <div class="loader"></div>
        </div>
        <span id="full-screen-spinner-content" class="spinner-content vertical-center">...Loading request...</span>
    </div>
</div>