<div id="loading-bar" class="hide">
    <a data-toggle="tooltip" title="...Loading request..." data-original-title="...Loading request..." class="tooltip-show no-hover">
        <span data-display="...Loading request..." class="f-em-3 fa-spinner fa fa-spin-custom" title="...Loading request..."></span>
    </a> <br />
    <p class="spinner-content">...Loading request...</p>
</div>
