<div class="hide">
    <div id="loading-bar">
        <div class="loader">Loading...</div>
        <h1 class="spinner-content">...Loading request...</h1>
    </div>
</div>
<div id="loading-bar-full-screen">
    <div id="loading-bar">
        <div class="load9"></div>
        <div class="loader">Loading...</div>
        <h1 class="spinner-content">...Loading request...</h1>
    </div>
</div>