<div class="login col-md-2 col-sm-2">
    <div class="pronav">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" class="" data-toggle="dropdown"><div class="profile_name">User Name <br /><span>Rookie</span></div><img src="images/avarter_img.jpg" width="34" height="35"></a>
                <ul class="dropdown">
                    <li class="active">
                        <a href="#"> messages <span class="glyphicon glyphicon-envelope"> </span></a>
                    </li>
                    <li>
                        <a href="#">notification <span class=""> </span></a>
                    </li>
                    <li>
                        <a href="#">post your apps <span class=""> </span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>