.header-2 .logo {
  margin-top: 0;
}
.h1-no-gap {
  margin: 0;
  padding: 0;
}
.h1-no-gap-small {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.website-head-title {
  padding: 0;
  font-size: 1.5em;
  font-weight: normal;
  color: black;
  margin: 8px 0px 0px 0px;
  margin: 0.8rem 0 0 0;
  font-family: UbuntuLight, Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.website-head-title strong {
  font-weight: normal;
}
@media (min-width: 768px) and (max-width: 990px) {
  .website-head-title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .website-head-title {
    margin: 26px 0px 0px 0px;
    margin: 2.6rem 0 0 0;
  }
}
.header-2 header nav li a {
  padding: 19px 10px 10px 10px;
  padding: 1.9rem 1rem 1rem 1rem;
}
@media (max-width: 768px) {
  .header-2 header nav li {
    /*height: 32px;
        position: relative;
        top: 0;
        background-color:white;*/
  }
  .header-2 header nav li a {
    padding: 7px 10px 7px 10px;
    padding: 0.7rem 1rem 0.7rem 1rem;
  }
}
.header-2 header nav li.btn-type {
  position: relative;
  bottom: 5px;
  bottom: 0.5rem;
}
.header-2 header nav li.btn-type a {
  padding: 1px 12px;
  padding: 0.1rem 1.2rem;
}
@media (min-width: 769px) {
  .jetmenu.menu li:not(.showhide) {
    display: inline-block !important;
  }
}
.header-2 .jetmenu > li > .megamenu,
.jetmenu ul.dropdown {
  top: 52px;
  top: 5.2rem;
}
.jetmenu h1 {
  color: #647383;
}
.jetmenu strong {
  font-weight: normal;
}
.jetmenu ul.dropdown li:hover > a,
.jetmenu ul.dropdown li:hover > form > a {
  background-color: #90d8f7;
}
.menu a {
  cursor: pointer;
}
.menu .navbar-form {
  margin: 0;
  padding: 0;
}
.menu .navbar-form .input-group {
  display: table;
}
.menu .btn {
  font-size: 14px;
  line-height: 32.5px;
  line-height: 3.2rem;
  min-width: 42px;
  min-width: 4.2rem;
  padding: 0;
  color: #ffffff;
  height: 34.2px;
  height: 3.4rem;
}
.menu .btn:hover {
  color: #ffffff;
  background-color: #19c234;
}
.menu .post-app-btn {
  height: 33px;
  height: 3.3rem;
  background-color: #ff7200;
}
.header-2 nav li.btn-type a:after {
  background-color: transparent;
}
.jetmenu ul.dropdown span:nth-child(2) {
  display: inline-block;
}
@media screen and (max-width: 990px) {
  .search-bar input {
    max-width: 134px;
    max-width: 13.4rem;
  }
}
.header-2 .is-sticky .logo {
  margin-top: 0;
}
.is-sticky nav li a {
  padding: 30px 13px !important;
}
.is-sticky .search-bar {
  position: relative;
  top: -20px;
}
.is-sticky .post-app-btn {
  line-height: 0;
  padding: 17px 14px !important;
  /* margin-top: 0; */
  position: relative;
  top: -20px;
  top: -2rem;
}
.is-sticky .navbar-form {
  position: relative;
  bottom: inherit;
}
.is-sticky .website-head-title {
  margin: 16% 0 0 0;
}
@media screen and (max-width: 768px) {
  .search-bar {
    top: -7px;
    top: -0.7rem;
  }
  .search-bar input {
    width: 100%;
    max-width: 100%;
  }
  .search-bar,
  .is-sticky .search-bar {
    position: relative;
    clear: both;
  }
  .is-sticky .search-bar {
    top: 0;
  }
  .jetmenu {
    /*overflow: overlay;
        height: 310px;*/
  }
  .jetmenu .fa.fa-angle-right {
    font-size: 2em;
  }
  .is-sticky nav li a {
    padding: 10px !important;
  }
  .is-sticky .post-app-btn-wrapper {
    margin-top: 10px;
  }
  .is-sticky .post-app-btn {
    top: 0;
    bottom: 0;
  }
  .menu .post-app-btn {
    bottom: 0;
  }
  .header-2 header nav li.btn-type {
    position: relative;
    top: 0;
  }
}
@media (min-width: 768px) {
  .jetmenu ul.dropdown li a {
    height: 34px;
    height: 3.4rem;
    line-height: .75;
  }
  .jetmenu ul.dropdown li a .badge {
    bottom: 4px;
    bottom: 0.4rem;
    position: relative;
  }
}
@media (min-width: 768px) {
  .header-2 header.sticky {
    height: 52px;
    height: 5.2rem;
  }
}
@media (max-width: 992px) {
  .header-2 header.sticky nav .fa {
    display: none;
  }
  .header-2 header.sticky nav .fa.fa-bars {
    display: inline-block;
  }
}
.nav-username {
  max-width: 114px;
  max-width: 11.4rem;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*# sourceMappingURL=menu-fix.css.map */