
.lower, .tolower, .Tolower, .lowercase, .ToLower {
    text-transform: lowercase;
}

.upper, .toupper, .Toupper, .uppercase {
    text-transform: uppercase;
}

.capital, .capitalize, .tocapi, .capitalcase, .propercase, .each-word-capital {
    text-transform: capitalize;
}

.first-letter-capital:first-letter {
    text-transform: uppercase;
}

.no-resize {
    resize: none;
}

.make-distance {
    margin: 12px;
    margin-left: 0px;
}

.Hide, .hide {
    display: none;
}

.medium-font {
    font-size: 122%;
}

.bigger-font {
    font-size: 200%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.justify, .tjustify {
    text-align: justify;
}

.vertically-center-wrapper {
    text-align: center;
}

.vertically-center-content {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}

.first-line-indent {
    text-indent: 1.2em;
}

.width-100-percent {
    width: 100%;
}


/*table related */


.h1,.h2,.h3,.h4,.h5{
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    padding-top: 9px;
}

table caption {
    background-color: #D0DEC2;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

table td.dot {
    width: 4px;
}
/*table related */


textarea {
    height: 45px;
    resize: none;
    border: 2px solid #D4ECF3;
    background-color: #FDFDFD;
}

    textarea:focus, textarea:hover {
        border: 2px solid #ACDFEE;
    }

.editor-combo {
    width: 188px;
}

/*Error List Style in Forms  */
div.Error-List {
    background-color: #AD8A63;
    padding-left: 18px; /*font-size: 2em;*/
}

    div.Error-List h1 {
        font-size: 1.2em;
        padding-top: 5px;
    }

    div.Error-List ul {
        background-color: #a52a2a;
    }

.Error-List ul li {
    color: White;
    list-style-type: decimal;
}
/*Error List Style in Forms  */


/*LI*/

.display-numbers {
    list-style-type: decimal;
    margin-left: 22px;
}

    .display-numbers li {
        display: list-item;
    }

.plugin-a li a {
    display: block;
    margin-top: 6px;
    background-color: white;
    height: 22px;
    padding-left: 8px; /*rounded border*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khbtml-border-radius: 3px;
}

    .plugin-a li a:hover, .plugin-a-white li a:hover {
        background-color: brown;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

.plugin-a-white li a {
    display: block;
    padding-left: 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khbtml-border-radius: 3px;
}

/*LI*/

.Opacity-80 {
    opacity: .8; /* for all other browsers*/
    filter: alpha(opacity=80); /*for Ie-7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*for IE8*/
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.fixed-width-294 {
    min-width: 294px;
    width: auto;
}

.rounded-3 {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khbtml-border-radius: 3px;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.gap-from-top {
    margin-bottom: 50px;
}

a.no-hover {
    text-decoration: none;
}

.glyphicon {
    cursor: pointer;
}


input.form-control.input-validation-error {
    border-color: #E96666;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, 0.6);
}
