div.checkbox > label {
    padding-left: 0;
}

div.checkbox {
    padding-left: 20px;
}

input, select, textarea {
    max-width: 294px;
}

label.control-label {
    font-weight: normal;
}

input.form-control, select.form-control {
    display: inline;
}

.glyphicon-top-fix {
    top: 5px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        /*padding: 10px;*/
        padding: 1px 2px 2px 7px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0;
}

.right-addon .glyphicon {
    right: 0;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.global-error h2 {
    display: block;
    color: red;
}

.global-error-ul li span {
    margin: 5px 0 5px;
    height: 18px;
    width: auto;
    text-align: left;
}


.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.form-group {
    margin-bottom: 9px;
    margin-top: 9px;
}

    .form-group.check-boxes {
        margin-bottom: 0;
        margin-top: 0;
    }

        .form-group.check-boxes label {
            padding-top: 6px;
        }
