@using WereViewApp.Models.POCO.IdentityCustomization
@model WereViewApp.Models.ViewModels.RegisterViewModel
@{
    var countries = (List<Country>) ViewBag.Country;
}

<div class="form-group">
    <div class="controls">
        <label class="col-md-2 control-label">Country<span class="red ">*</span></label>
        <div class="col-md-10">
            @Html.DropDownCountry(countries)
            <a href="#" data-toggle="tooltip" data-original-title="Please select your country, it's going to verify against your IP." title="Please select your country, it's going to verify against your IP." class="tooltip-show">
                <span class="glyphicon glyphicon-question-sign font-size-22 glyphicon-top-fix almost-white"></span></a>
        </div>
    </div>
</div>
<div class="form-group timezone-main">
    <div class="controls">
        <label class="col-md-2 control-label">Timezone<span class="red ">*</span></label>
        <div class="col-md-10 timezone-combo-div">
            <!--select will be added here. -->
            <a href="#" data-toggle="tooltip" data-original-title="Please select your sepecific timezone." title="Please select your sepecific timezone." class="tooltip-show">
                <span class="glyphicon glyphicon-question-sign font-size-22 glyphicon-top-fix almost-white"></span></a>
        </div>
    </div>
</div>
<div class="form-group language-main">
    <div class="controls">
        <label class="col-md-2 control-label">Language<span class="red ">*</span></label>
        <div class="col-md-10 language-combo-div">
            <!--select will be added here. -->
            <a href="#" data-toggle="tooltip" data-original-title="Please select your sepecific language." title="Please select your sepecific language." class="tooltip-show">
                <span class="glyphicon glyphicon-question-sign font-size-22 glyphicon-top-fix almost-white"></span></a>
        </div>
    </div>
</div>