@{
    ViewBag.title = "User has been created!";
}
<div class="top-gap-2x"></div>
<div class="f-em-23 green">
    <i class="fa fa-paper-plane "></i> Successfully Created
</div>
<div class="sky-blue f-em-15">
    Your account has been created. However it is not activated yet, please login to your email account to activate the account. Please check spam or junk folder.
</div>
<div class="top-gap-2x"></div>
